{% extends "::base.html.twig" %}
{% block body %}
<section id="main" role="main">

    <div class="breadcrumb-container">
        <div class="row">
            <div class="large-12 column">
                <nav class="breadcrumbs animated bounceInDown">
                    <a href="{{path('home')}}">Home</a>
                    <a class="current" href="#">Mentions Légales</a>
                </nav>
            </div>
        </div>
    </div>

    <section class="part">
        <div class="row title">
            <div class="large-12 column">
                <h6>EURL KARUDEV INFORMATIQUE</h6>
            </div>
        </div>

        <div class="row">
            <div class="large-12 column">
                <p>
                KARUDEV INFORMATIQUE, Société à Responsabilité Limitée Unipersonnelle au capital de 200 euros,<br/>
                immatriculée le 14/02/2014 au Registre du Commerce et des Sociétés sous le numéro RCS 800 444 499 MELUN.<br/>
                6201Z : Programmation informatique<br/>
                Le gérant est Dolyveen Renault.
                </p> 
            </div>
        </div>
    </section>
    
    



</section>
{% endblock %}
